version: '3'

services:

  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    environment:
      - CLUSTER_NAME=social_cluster
      - HDFS_CONF_dfs_permissions_enabled=false 
    env_file:
      - ./hadoop.env
    ports:
      - "9870:9870" 
      - "9000:9000"
    networks:
      - social_network

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    hostname: datanode
    environment:
      - SERVICE_PRECONDITION=namenode:9870
    env_file:
      - ./hadoop.env
    ports:
      - "9864:9864"
    networks:
      - social_network
    
  hdfs-writer:
    image: python:3.9-slim
    container_name: hdfs-writer
    volumes:
      - ./:/app
    working_dir: /app
    command: >
      bash -c "pip install kafka-python hdfs && python -u ingest_to_hdfs.py"
    depends_on:
      - namenode
    networks:
      - social_network

networks:
  social_network:
    name: social_network
    external: true
    